{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">HOME</h1>
    <p>En nuestra plataforma, exploramos la fascinante tecnología detrás del estudio de la anatomía humana y sus enfermedades. A través de herramientas avanzadas y enfoques innovadores, ofrecemos recursos para entender el cuerpo humano en profundidad, desde su estructura hasta su funcionamiento, así como las diversas enfermedades que lo afectan. Nuestra misión es proporcionar información precisa y accesible que permita a profesionales y usuarios aprender sobre la salud y el bienestar, apoyando así el diagnóstico, tratamiento y prevención de enfermedades.</p>

    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Signin
        </a>
        <a class="btn btn-dark" href="/signup/">
            Signup
        </a>
    </div>
    </section>
</main>


{% endblock %}